@import "tailwindcss";

@theme {

  --color-dark-bg: #1c1817;
  --color-dark-card: #2b1b12;
  --color-page-bg: #f8f6f2;
  --color-card-bg: #e2d9c8;
  --color-category-bg: #eae3d9;
  --color-newsletter-bg: #e2d8c9;

  --color-text-primary: #2b1b12;
  --color-text-secondary: #6b6560;
  --color-text-muted: #a19a91;

  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}
